@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

body {
  width: 90%;
}
[data-theme="dark"] html {
  background-color: linear-gradient(180deg, #322c54 0%, #231d49 100%);
  duration: 500s;
}

[data-theme="light"] html {
  color: #7269ff;
}
